[submodule "lib/vendor/mustache"]
	path = lib/vendor/mustache
	url = https://github.com/bobthecow/mustache.php.git
[submodule "lib/vendor/dompdf"]
	path = lib/vendor/dompdf
	url = https://github.com/dompdf/dompdf.git
[submodule "lib/vendor/mpdf"]
	path = lib/vendor/mpdf
	url = https://github.com/mpdf/mpdf.git
[submodule "lib/vendor/fpdi"]
	path = lib/vendor/fpdi
	url = https://github.com/Setasign/FPDI.git
