[submodule "lib/vendor/mustache"]
	path = lib/vendor/mustache
	url = https://github.com/bobthecow/mustache.php.git
[submodule "lib/vendor/dompdf"]
	path = lib/vendor/dompdf
	url = https://github.com/dompdf/dompdf.git
[submodule "lib/vendor/php-font-lib"]
	path = lib/vendor/php-font-lib
	url = https://github.com/PhenX/php-font-lib.git
